<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="pt-BR">
<head th:replace="admin-modelo :: header">
    <style>

        .scrollbar
        {
            margin-left: 30px;
            float: left;
            height: 300px;
            width: 65px;
            background: #F5F5F5;
            overflow-y: scroll;
            margin-bottom: 25px;
        }
        #chat::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }

        #chat::-webkit-scrollbar
        {
            width: 6px;
            background-color: #F5F5F5;
        }

        #chat::-webkit-scrollbar-thumb
        {
            background-color: #000000;
        }
    </style>
</head>
<body>
<nav th:replace="admin-modelo :: navbar"></nav>
<div class="row paddingTop">
    <div class="col s3" th:replace="admin-modelo :: admin-menu"> </div>

    <div class="col s9">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!">Atendimento</a>
                </div>
            </div>
        </nav>

        <div class="row paddingTop">
            <div class="col s2"><a th:href="@{/Exame/{urlArquivo}(urlArquivo=${urlArquivo})}" target="_blank" class="btn blue darken-1 waves-effect tooltipped" data-position="bottom" data-delay="50" th:attr="data-tooltip=${tamanho + ' | ' + appTipo}">DOWNLOAD</a></div>
            <div class="col s10"><span th:text="${descricao}"></span></div>

            <div class="col s12">
                <div id="chat" class="scrollbar" style="overflow-y: scroll; min-height: 400px; max-height: 400px;">
                    <div class="center" th:if="${chat.isEmpty()}">Nenhuma mensagem !</div>
                    <div class="col s12 m8 offset-m2 l6 offset-l3" th:each="chat: ${chat}">
                        <div class="col s12 card-panel transparent z-depth-1 left" th:if="${chat.quemEnviou == 1}">
                            <div class="row valign-wrapper">
                                <span class="black-text" th:text="${chat.mensagem}"></span>
                                <span>: Médico</span>
                            </div>
                        </div>

                        <div class="col s12 card-panel transparent z-depth-1 right" th:if="${chat.quemEnviou == 2}">
                            <div class="row valign-wrapper">
                                <span>Paciente: </span>
                                <span class="black-text" th:text="${chat.mensagem}"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col s12 m8 offset-m2 l6 offset-l3">
                    <div class="input-field col s8" th:object="${paciente}">
                        <input id="msg" name="mensagem" type="text" class="validate" />
                        <input id="tipo" name="autor" type="hidden" class="validate" />
                        <input id="pacienteCodigoMsg" type="hidden" class="validate" th:field="*{codigo}" />
                        <span id="medicoCodigo" style="display: none;" th:text="${session.medico.codigo}"></span>
                        <label for="msg">Mensagem</label>
                    </div>
                    <div class="col s4"><button id="novaMensagem" type="submit" class="btn btn-large blue">Enviar</button><a th:if="${nivelAcesso == 2}" type="normal" class="btn btn-large deep-purple modal-trigger" href="#upload"><i class="material-icons">attach_file</i></a> </div>
                </div>

                <!-- Modal Structure -->
                <form action="/Exame/Novo" method="post" enctype="multipart/form-data" id="upload" class="modal">
                    <div class="modal-content">
                        <div th:if="${nivelAcesso == 2 and linkExame == null}" class="col s12 m8 offset-m2 l6 offset-l3">
                            <div class="file-field input-field col s12">
                                <div class="btn blue">
                                    <span>Selecionar Exame</span>
                                    <input name="arquivo" type="file" />
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" />
                                </div>
                            </div>

                            <div class="input-field col s12">
                                <textarea id="descricao" name="descricao" class="materialize-textarea"></textarea>
                                <label for="descricao">Descrição</label>
                            </div>

                            <div class="input-field col s12">
                                <input id="paciente" name="pacienteNome" readonly="readonly" type="text" class="validate" th:field="${paciente.nome}" />
                                <input id="pacienteCodigo" readonly="readonly" type="text" class="validate" th:field="${paciente.codigo}" />
                                <label for="paciente">Paciente</label>
                                <label>Paciente</label>
                            </div>

                            <div><button id="salvar" type="submit" class="btn btn-large green lighten-1">Enviar exame</button> </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
<javascript th:replace="admin-modelo :: javascripts"></javascript>
<script>
    $(document).ready(function(){
        $('.tooltipped').tooltip({delay: 50});
        $('.modal').modal();
        $('select').material_select();
        $('#chat').animate({scrollTop: $('#chat')[0].scrollHeight}, 100);

        $("#novaMensagem").click(function() {
            var paciente = $("#pacienteCodigoMsg").val();
            var medico = $("#medicoCodigo").text();
            var mensagem = $("#msg").val();
            $.post(
                "/Atendimento/Chat",
                { paciente: paciente, mensagem: mensagem, medico: medico },
                function(data) {
                    if(data.ok){
                        location.reload();
                    }else{
                        Materialize.toast(data.msg, 4000);

                    }

                }
            );
        });

    });
</script>
</body>
</html>