<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="pt-BR">
<head th:replace="admin-modelo :: header">
</head>
<body>
<nav th:replace="admin-modelo :: navbar"></nav>
<div class="row paddingTop">
    <div class="col s3" th:replace="admin-modelo :: admin-menu"> </div>

    <div class="col s9">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#!">Disponibilidade</a>
                </div>
            </div>
        </nav>
        <br />
        <a href="/Disponibilidade/Nova" class="btn btn-large blue lighten-1 waves-effect waves-light">Nova</a>

        <div th:each="e: ${esp}">
            <div th:each="medico: ${e.medicos}" class="col s12">
                <p  th:text="${medico.nomeCompleto}"></p>
                <p  th:text="${e.palavraChave}"></p>

                <form>
                    <button type="button" class="btn blue waves-effect waves-light" th:each="medicoAgenda: ${medico.disponibilidade}" th:text="${medicoAgenda.nomeSemana + ' - ' + medicoAgenda.horaDisponivel}" th:onclick="'diaSemana('+${medicoAgenda.codigoDiaSemana}+',\''+${medicoAgenda.horaDisponivel}+'\')'"></button>
                    <input readonly="readonly" type="hidden" th:value="${medico.codigo}" />
                </form>
            </div>
        </div>

    </div>
</div>
<javascript th:replace="admin-modelo :: javascripts"></javascript>
<script>
    function deletar(url) {
        Materialize.toast('Confirmar remoção ? <a href="' + url + '" class='btn blue'>Sim</a>', 10000);
    }
</script>
</body>
</html>